*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 12vh;
        box-shadow: 0 0 4px 1px gray;
        background:rgb(243, 243, 243);
}
.header>ul{
        display: flex;
        list-style:none;
}
.header>ul li>a{
        color: #222;
        padding: 0 1rem;
        text-decoration: none;
}
.header>ul li>a:hover{
        color: #444;
}
.logo>a{
        padding: 0 2rem;
        text-decoration: none;
        color: #222;
}
